.Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Hero__title {
  margin-top: 0;
}